@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px repeat(4, 1fr);
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: 75px 275px 155px;
  justify-content: center;
  grid-row: span 2;
  background-color: #1992d4;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  padding: 1em;
  z-index: 1;
}

.sidebar-header {
  align-items: center;
}

.sidebar-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sidebar-icons,
.sidebar-links {
  display: grid;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.icon,
.sidebar-icon {
  width: 1.3rem;
}

.sidebar-icon {
  justify-self: center;
}

.sidebar-header-icon {
  width: 2.6rem;
}

.header,
.main {
  grid-column: span 4;
}

.header {
  display: grid;
  z-index: 0;
  box-shadow: hsl(0, 0%, 80%) 0px 5px 5px;
  padding: 1em 2.5em;
}

.header-section {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 5em;
}

.search-bar,
.profile {
  display: grid;
  align-items: center;
}

.search-bar {
  grid-template-columns: auto minmax(250px, 900px);
  gap: 0.5em;
}

.profile {
  text-align: center;
  gap: 1.3em;
  grid-auto-flow: column;
}

.search,
.search:focus {
  border: none;
  outline: none;
  background-color: #e2e8f0;
  border-radius: 1.2em;
  padding: 0.5em 1em;
}

.pfp-small {
  width: 3.3rem;
}

.pfp-large {
  width: 4.3rem;
}

.welcome,
.actions {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1em;
  font-weight: bold;
}

h2 {
  margin: 0.3em 0;
}
.action-btn {
  text-decoration: none;
  color: #fff;
  background-color: #1992d4;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 2em;
  width: 75px;
  text-align: center;
  padding: 0.75em 1em;
}

.main {
  background-color: #e2e8f0;
  padding: 2em 1.5em;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  max-width: 55rem;
}

.main-card,
.announcements-wrapper,
.trending-wrapper {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 1.5em;
  width: clamp(0, 300px, 450px);
  box-shadow: hsl(0, 0%, 80%) 0px 5px 5px;
}

.trending-wrapper {
  display: grid;
  grid-template-columns: 55px 150px;
  gap: 1em;
}

.profile-pictures,
.users {
  display: grid;
  align-items: center;
  gap: 1em;
}

.status {
  color: #6c6c6c;
}

.main-card {
  display: grid;
  grid-template-rows: 1.2em 1fr 0;
  height: 200px;
  padding: 2em;
  padding-bottom: 3em;
  border-left: 7px solid #f0b429;
}

.main h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1em;
  color: #6c6c6c;
}

.card-icons {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  margin-left: auto;
}
